body {
  background: url(https://images8.alphacoders.com/632/632051.png) no-repeat
    center center fixed;
  background-size: cover;
  text-shadow: 1px 1px 2px black;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  font-size: 1.3rem;
}

.recipe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: baseline;
}
